.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: grid;
  grid-template: repeat(3, auto) 1fr / repeat(2, auto);
  gap: 0.5rem;
}

.place {
  grid-column: 1 / -1;
}

.map {
  padding: 0.5rem;
  border: 1px solid;
  grid-row: 3;
  grid-column: 1 / -1;
}

.branchTitle {
  margin: 0;
}

.executive,
.judicial,
.legislative {
  border: 1px solid;
  padding: 0.5rem;
}

.legislative {
  grid-column: 1 / -1;
}

.legislativeMembers {
  margin-top: 1rem;
}

.senatorsTitle,
.representativesTitle {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 0.75rem;
}

.senators {
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  row-gap: 0.25rem;
}

.representativesBox {
  margin-top: 0.25rem;
  display: flex;
  width: 78.5vw;
  overflow-x: scroll;
}

.memberWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 70px;
  margin-right: 0.25rem;
}

.memberImage {
  object-fit: cover;
  border-radius: 50%;
}

.memberName {
  margin: 0;
  font-size: 1%;
  height: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}