.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: grid;
  grid-template: auto auto 1fr / repeat(2, auto);
  gap: 0.5rem;
}

.map {
  padding: 0.5rem;
  border: 1px solid;
  grid-row: 2;
  grid-column: 1 / -1;
}

.executive,
.judicial,
.legislative {
  border: 1px solid;
  height: 100%;
  padding: 0.5rem;
}

.legislative {
  grid-column: 1 / -1;
}

.branchTitle {
  margin: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}